.boton {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #88ffa6;
    border: solid 2px #88ffa6;
    cursor: pointer;
    transition: all 0.3s;
}

.boton:hover {
    color: #242424;
    background-color: #88ffa6;
    box-shadow: 0 0 2rem #88ffa6;
}